---
layout: default 
title: "Clock"
header-img: "img/siashow/tunnel.jpg"
---

<!doctype html>

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <span class="subheading">人生一年又一年，只要每年都有所积累，<br><br>有所成长，都有那么一次自己认为满意的花开时刻就好。<br><br>即使一时不顺，也要敞开胸怀。<br><br>生命的荣枯并不是简单的重复，一时的得失不是成败的尺度。<br><br>花开不是荣耀，而是一个美丽的结束，花谢也不是耻辱,而是一个低调的开始。<br>
<br>————致花开花落，致生命荣枯，致戒烟奔向10年的日子！</span>
<hr>
<div id="times_container"  class="zebra" style="font-size:24px;text-align:center;color:#8A2BE2;font-family: 'Wire One', arial, serif; ">
         <span id="times_day"> </span>天 
                                          <span id="times_hour"> </span>时  
                                          <span id="times_minute"> </span>分    
                                          <span id="second"> </span>秒   
</div>
                </div>
            </div>
        </div>
    </div>
</header>

<link rel="stylesheet" href="/css/table.css">
<table class="sortable">
    <thead>
    <tr>
        <th class="sorttable_nosort">Name</th>
        <th>Lunar Day</th>
        <th>Common Day</th>
    </tr>
    </thead>
	
	{% for member in site.data.member %}
	<tr>
    <td >{{ member.name }}</td>
	<td sorttable_customkey="{{member.sort}}">{{ member.lunarday }}</td>
    <td>{{ member.commonday }}</td>
    </tr>
	{% endfor %}
</table>

 

<script type="text/javascript"  language="javascript">

setTimeout("count_down()",1000);//设置每一秒调用一次倒计时函数

 

//根据天，时，分，秒的ID找到相对应的元素

var time_day = document.getElementById("times_day");

var time_hour = document.getElementById("times_hour");

var time_minute = document.getElementById("times_minute");

var time_second = document.getElementById("second");

var time_end = new Date("2016/2/20 12:30:00");  // 设定活动结束结束时间

time_end = time_end.getTime();

 

//定义倒计时函数

function count_down(){ 

   var time_now = new Date();  // 获取当前时间

   time_now = time_now.getTime();

   var time_distance = time_now  - time_end ;  // 时间差：活动结束时间减去当前时间   

   var int_day, int_hour, int_minute, int_second;   

 if(time_distance >= 0){   

     // 相减的差数换算成天数   

     int_day = Math.floor(time_distance/86400000)

     time_distance -= int_day * 86400000; 

 

 // 相减的差数换算成小时

        int_hour = Math.floor(time_distance/3600000) 

        time_distance -= int_hour * 3600000;  

 

// 相减的差数换算成分钟   

     int_minute = Math.floor(time_distance/60000)    

    time_distance -= int_minute * 60000; 

 

 // 相减的差数换算成秒数  

      int_second = Math.floor(time_distance/1000)    

 

    // 判断小时小于10时，前面加0进行占位

        if(int_hour < 10) 

        int_hour = "0" + int_hour;  

 

// 判断分钟小于10时，前面加0进行占位      

  if(int_minute < 10)    

   int_minute = "0" + int_minute;  

 

 // 判断秒数小于10时，前面加0进行占位 

       if(int_second < 10) 

       int_second = "0" + int_second;       

 

// 显示倒计时效果       

time_day.innerHTML = int_day;

time_hour.innerHTML = int_hour; 

time_minute.innerHTML = int_minute; 

time_second.innerHTML = int_second;

setTimeout("count_down()",1000);

    }else{

//指定的结束日期结束后，往后推迟3天，或者称之为：往后加3天

//在这里可以非常灵活的设置：比如往后推迟2天或往后加2天：2*24*60*60*1000

//比如往后推迟1天或往后加1天：1*24*60*60*1000

//比如往后推迟2小时或往后加2小时：2*60*60*1000

// 比如往后推迟40分钟或往后加40分钟：40*1000这里设置根据大家需要，灵活设置。

 time_end=time_end+3*24*60*60*1000;

setTimeout("count_down()",1000); 

   }

}
</script>
