---
title:Green Day 
layout: default
header-img: "img/about.jpg"
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Steven - GreenDay</title>
        <link rel=stylesheet type=text/css href="css/style.css">
        <link rel=stylesheet type=text/css href="css/border.css">
        <link rel=stylesheet type=text/css href="css/form.css">

		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="bordered" style="margin:0;padding:0;width:100%;"> 
			<header>
				<p>人生一年又一年,只要每年都有所积累,有所成长,都有那么一次自己认为满意的花开时刻就好。即使一时不顺,也要敞开胸怀。生命的荣枯并不是简单的重复,一时的得失不是成败的尺度。花开不是荣耀,而是一个美丽的结束,花谢也不是耻辱,而是一个低调的开始。
<br>
</p>

<div id="times_container"  style="font-size:24px;text-align:center;color:#FF0000;font-family: 'Wire One', arial, serif; ">
         <span id="times_day"> </span>天

                                          <span id="times_hour"> </span>时

                                          <span id="times_minute"> </span>分

                                          <span id="second"> </span>秒

</div>


			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">


                <table class="bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Common Day</th>
                        <th>Lunar Day</th>
                    </tr>
  <tr>
        <td>1</td>        
        <td>The Shawshank Redemption</td>

        <td>1994</td>
    </tr>        
    <tr>
        <td>2</td>         
        <td>The Godfather</td>
        <td>1972</td>
    </tr>
    <tr>

        <td>3</td>         
        <td>The Godfather: Part II</td>
        <td>1974</td>
    </tr>    
    <tr>
        <td>4</td> 
        <td>The Good, the Bad and the Ugly</td>
        <td>1966</td>

    </tr>
    <tr>
        <td>5</td> 
        <td>Pulp Fiction</td>
        <td>1994</td>
    </tr>

                    </thead>
                {% for entry in entries %}
                    <tr>
                        <td>{{entry.id}}</td>
                        <td>{{entry.title}}</td>
                
                        <td>{{entry.text}}</td>
                    </tr>
                {%endfor%}
                </table>
                <br>



<script type="text/javascript"  language="javascript">

setTimeout("count_down()",1000);//设置每一秒调用一次倒计时函数



//根据天，时，分，秒的ID找到相对应的元素

var time_day = document.getElementById("times_day");

var time_hour = document.getElementById("times_hour");

var time_minute = document.getElementById("times_minute");

var time_second = document.getElementById("second");

var time_end = new Date("2016/2/20 12:30:00");  // 设定活动结束结束时间

time_end = time_end.getTime();



//定义倒计时函数

function count_down(){

   var time_now = new Date();  // 获取当前时间

   time_now = time_now.getTime();

   var time_distance = time_now  - time_end ;  // 时间差：活动结束时间减去当前时间

   var int_day, int_hour, int_minute, int_second;

 if(time_distance >= 0){

     // 相减的差数换算成天数

     int_day = Math.floor(time_distance/86400000)

     time_distance -= int_day * 86400000;



 // 相减的差数换算成小时

        int_hour = Math.floor(time_distance/3600000)

        time_distance -= int_hour * 3600000;



// 相减的差数换算成分钟

     int_minute = Math.floor(time_distance/60000)

    time_distance -= int_minute * 60000;



 // 相减的差数换算成秒数

      int_second = Math.floor(time_distance/1000)



    // 判断小时小于10时，前面加0进行占位

        if(int_hour < 10)

        int_hour = "0" + int_hour;



// 判断分钟小于10时，前面加0进行占位

  if(int_minute < 10)

   int_minute = "0" + int_minute;



 // 判断秒数小于10时，前面加0进行占位

       if(int_second < 10)

       int_second = "0" + int_second;



// 显示倒计时效果

time_day.innerHTML = int_day;

time_hour.innerHTML = int_hour;

time_minute.innerHTML = int_minute;

time_second.innerHTML = int_second;

setTimeout("count_down()",1000);

    }else{

//指定的结束日期结束后，往后推迟3天，或者称之为：往后加3天

//在这里可以非常灵活的设置：比如往后推迟2天或往后加2天：2*24*60*60*1000

//比如往后推迟1天或往后加1天：1*24*60*60*1000

//比如往后推迟2小时或往后加2小时：2*60*60*1000

// 比如往后推迟40分钟或往后加40分钟：40*1000这里设置根据大家需要，灵活设置。

 time_end=time_end+3*24*60*60*1000;

setTimeout("count_down()",1000);

   }

}

</script>



					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
<!--		</div> -->
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
